.container {
    border: 10px;
    border-color: rgb(61, 82, 82);
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    }

.h1 {
    font-size: 32px;
    margin-right: 100px;
        }

.h2 {
    font-size: 28px;
    margin: 50px;
}        

p {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    }

.li {
    padding: 15px;
    color: white;
}

.navbar-brand {
    display: block;
}



.navbar-brand {
    font-size: 32px;
    font-weight: bolder;
    }



.images
{  width: 150px;
   height: auto;
   border: 5px solid rgb(82, 82, 82);
   margin-top: 20px;
}

h3 { font-size: 18px;
     font-style: italic;
     display: inline-flex;
     margin-top: 10px;
     margin-left: 15px;
     margin-bottom: 20px;
    } 



.row  {
        margin-left: 7px;
        margin-right: 7px;
        justify-content: left;
         }




#downtown
#timbers {
    margin-left: 20px;
    margin-right: 20px;
        }

#ginger
#trillium {
    margin-left: 10px;
    margin-right: 10px;
}

.words {
    font-size: 18px;
    font-style: italic; 
    padding: 10px;
    position: relative;
    text-align: center;
    color: darkgrey;
    }

 #contact-form {
     padding: 15px;
 }


.card  {padding: 10px;  
    margin: 0 auto;  
    display: mx auto;
    width: auto;
    horzontal margin: auto;
        }


    .pic-container {
        align-items: center;
        justify-content: space-evenly;
        width: 75%;
        padding: 10px;
       }

    .images {
        margin-left: 10px;
        margin-right: 10px;
    }
    

.contact-container {
    width: 80%;
    margin: 0 auto;
}
*/
.body { 
    width: 80%;
    position: justify-center;
    ;
}

/*
.gallery-container {
    border: 10px;
    border-color: rgb(61, 82, 82);
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    }
*/
    // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }